## Instructions
It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

Set up the hypothesis test.
Write down all the steps followed for setting up the test.
Calculate the test statistic by hand and also code it in Python. It should be 4.76190. We will take a look at how to make decisions based on this calculated value.
If you finished the previous question, please go through the code for principal_component_analysis_example provided in the files_for_lab folder

In [6]:
import pandas as pd
import numpy as np
from scipy import stats
import math
import scipy.stats

In [7]:
# Population mean μ = 120 mm Hg
# Sample mean 130.1 mm Hg
# sample size n = 100 people
# standard deviation = 21.21 

#calculate z-score:

sample_mean = 130.1
pop_mean = 120
sample_std = 21.21
n = 100
statistic = (sample_mean - pop_mean)/(sample_std/math.sqrt(n))

print(statistic)

4.761904761904759

In [8]:
statistic

4.761904761904759

In [9]:
p = scipy.stats.norm.sf(abs(statistic))

In [10]:
p

9.588709444976228e-07

In [13]:
# suggestion from Flo
#scipy.stats.ttest_1samp(a, popmean, ...)

In [ ]:
data = read_csv()

In [12]:
#just found this on a website to quickly generate a list  with random numbers having a desired mean

In [11]:
import numpy as np
num_samples = 1000
desired_mean = 130.1
desired_std_dev = 10.0
samples = np.random.normal(loc=0.0, scale=desired_std_dev, size=num_samples)
actual_mean = np.mean(samples)
actual_std = np.std(samples)
print("Initial samples stats   : mean = {:.4f} stdv = {:.4f}".format(actual_mean, actual_std))
zero_mean_samples = samples - (actual_mean)
zero_mean_mean = np.mean(zero_mean_samples)
zero_mean_std = np.std(zero_mean_samples)
print("True zero samples stats : mean = {:.4f} stdv = {:.4f}".format(zero_mean_mean, zero_mean_std))
scaled_samples = zero_mean_samples * (desired_std_dev/zero_mean_std)
scaled_mean = np.mean(scaled_samples)
scaled_std = np.std(scaled_samples)
print("Scaled samples stats    : mean = {:.4f} stdv = {:.4f}".format(scaled_mean, scaled_std))
final_samples = scaled_samples + desired_mean
final_mean = np.mean(final_samples)
final_std = np.std(final_samples)
print("Final samples stats     : mean = {:.4f} stdv = {:.4f}".format(final_mean, final_std))
final_samples = list(final_samples)

Initial samples stats   : mean = -0.1324 stdv = 9.9624
True zero samples stats : mean = 0.0000 stdv = 9.9624
Scaled samples stats    : mean = 0.0000 stdv = 10.0000
Final samples stats     : mean = 130.1000 stdv = 10.0000

# Lab 7.05

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [22]:
''' New Machine	Old Machine
 42.1	 42.7
 41	     43.6
 41.3	 43.8
 41.8	 43.3
 42.4	 42.5
 42.8	 43.5
 43.2	 43.1
 42.3	 41.7
 41.8	 44
 42.7	 44.1
'''

' New Machine\tOld Machine\n 42.1\t 42.7\n 41\t     43.6\n 41.3\t 43.8\n 41.8\t 43.3\n 42.4\t 42.5\n 42.8\t 43.5\n 43.2\t 43.1\n 42.3\t 41.7\n 41.8\t 44\n 42.7\t 44.1\n'

In [30]:
import statistics

In [31]:
a = [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

In [32]:
b = [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1,41.7,44,44.1]

In [33]:
data = pd.DataFrame({'a': a, 
                      'b': b})

In [34]:
data

      a     b
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [35]:
data.mean()

a    42.14
b    43.23
dtype: float64

In [38]:
data.describe()

               a          b
count  10.000000  10.000000
mean   42.140000  43.230000
std     0.683455   0.749889
min    41.000000  41.700000
25%    41.800000  42.800000
50%    42.200000  43.400000
75%    42.625000  43.750000
max    43.200000  44.100000

In [39]:
#statistics.stdev(data)

In [41]:
# 2 sample t test 

sample_mean1 = 42.14
sample_std1 = 0.68
n1 = 10

sample_mean2 = 43.23
sample_std2 = 0.749
n2 = 10

In [42]:
# (n1-1) * (st dev1)to the power of 2 + (n2-1) *(st dev2) to the power of 2
# divided by (n1+n2)

full_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))

#t value 
statistic = (sample_mean1-sample_mean2)/(full_sample_std*math.sqrt((1/n1)+(1/n2)))

In [44]:
statistic  # is this value enough to find the confidence

-3.4072466988904275

In [47]:
#from scipy.stats import t

In [48]:
#scipy.stats.ttest_in(data[' test group  '], ' control group']